<template name="header">
  
  <header id="header">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Advanced Routing</a>
          <ul class="nav">
            <li class="{{activeNav 'home'}}"><a href="{{homePath}}">Home</a></li>
            <li class="{{activeNav 'about'}}"><a href="{{aboutPath}}">About</a></li>
            <li class="{{activeNav 'contact'}}"><a href="{{contactPath}}">Contact</a></li>
            <li class="{{activeNav 'magic'}}"><a href="{{magicPath}}">Magic</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  
</template>